/* コロナ感染防止系メッセージ */
.pa-0 {
    padding: 0;
}
.temporary-message-wrapper {
    padding: 20px;
    margin: 1rem auto;
}

.temporary-message {
    margin: 0;
    border: 3px solid #333333;
    font-size: 12px;
    padding: 1rem 2rem;
    width: 100%;
}
@media (max-width: 560px) {
    .temporary-message {
        padding: 1rem;
    }
}

.temporary-message h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1rem;
}
.temporary-message li {
    list-style: none;
    padding-bottom: .25rem;
}

/* コロナ感染防止系メッセージ終わり */


#whGym .container {
    padding: 2rem auto;
}

#whGym .gymWrapper {
    background-color: #000;
    border-radius: 20px;
    height: 180px;
    width: 100%;
    padding: 1.5rem;
    transition-duration: 0.8s;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
}

@media (max-width: 560px) {
    #whGym .gymWrapper  {
        height: 120px;
    }
}

#whGym .gymWrapper:hover {
    background-color:#fff;
    color: #000;
    border: 3px solid #000;
}

@media (max-width: 560px) {
    #whGym .container {
        width: 100% !important;
    }
    #whGym .gymWrapper {
        height: 110px;
        font-size: 1rem;
    }
}

#news .news-item {
    padding: 1rem;
    display: flex;
    flex-direction: row;
}

#news .container {
    width: 65%;
}

#news .news-item p {
    font-weight: bold; 
    padding: 10px 2rem !important;
    background-color: #FCF4F5;
    border-radius: 12px;
}

#news .news-item a {
    font-weight: bold; 
    padding: 10px 0 10px 2rem !important;
}

@media (max-width: 560px) {
    #news .container {
        width: 100%;
    }
    #news .news-item {
        flex-direction: column;
    }
}

#pricing table {
    width: 100%;
}

#pricing .initial-th {
    background-color: #880000;
    color: #fff;
    width: 50%;
    padding: 1.5rem;
}

#pricing .initial-td {
    background-color: #fff;
    color: #000;
    width: 50%;
    border: 0.5px solid #EEEEEE;
}

#pricing .menu th {
    width: 33%;
    padding: 1.5rem;
    border: 1px solid #fff;
}

#pricing .menu td {
    width: 33%;
    padding: 1.5rem;
}

#pricing .junior-menu th{
    width: 40%;
    padding: 1.5rem;
    border: 1px solid #fff;
}

@media (max-width: 560px) {
    #pricing .junior-menu th{
        width: 30%;
        padding: 1rem;
    }
}

#pricing .junior-menu td {
    width: 60%;
    padding: 1.5rem;
}


/* キャンペーン追加対応 */
.coupon-subtext {
    font-weight: bold;
}

@media (max-width: 560px) {
    .coupon-subtext {
        font-size: 12px;
    }
}

.coupon-box {
    background-color: #880000;
    border-radius: 4px;
}
.coupon-box .coupon-box_dot {
    border: 1px dashed #d6d6d6;
}

.coupon-box .coupon-box_dot h2 {
    color: #fff;
    font-family: "Noto Sans CJK JP","Noto Sans JP", "HiraKakuProN-W3", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN W3", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 18px;
    font-weight: 700;
}

@media (max-width: 560px) {
    .coupon-box .coupon-box_dot h2 {
        font-size: 15px;
    }
}